* text=auto eol=lf

*.py text diff=py
*.ipynb text diff=ipynb

*.md text diff=markdown eol=crlf
*.txt text diff=text
*.pb text diff=pb
*.index text diff=index

.gitignore text diff=gitignore
.gitattributes text diff=gitattributes
